
asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
sqlparse==0.5.5


django-filter==25.1
drf-spectacular==0.28.0
psycopg2-binary==2.9.10
python-decouple==3.8
django-debug-toolbar==5.0.1